<tr>
	<th class="counter"></th>
	<th class="separator_thin"></th>
	<th colspan="2" class="title_pubkey">
		Bitcoin Address
	</th>
	<th class="separator"></th>
	<th colspan="2" class="title_prvkey">
		Private Key <div class="normal">(Wallet Import Format)</div>
	</th>
</tr>	