= link_to save_non_encrypted_button,download_path(download: :plain_private_keys),
 target: "_blank", class: "btn btn-danger"
= link_to save_addresses_button,download_path(download: :addresses),
 target: "_blank", class: "btn btn-success"